/ISCAS25_Blinker/ISCAS25_Blinker-backups
/ISCAS25_Blinker/fp-info-cache
/ISCAS25_Blinker/Components
/ISCAS25_Blinker/fp-lib-table
/ISCAS25_Blinker/sym-lib-table
ISCAS25_Blinker/\#auto_saved_files\#
ISCAS25_Blinker/Library.bak
ISCAS25_Blinker/~ISCAS25_Blinker.kicad_sch.lck
*.kicad_prl
*.kicad_prl
*.lck
